@model IEnumerable<FinancialTransactions>

<h2>FinancialTransactions</h2>

<div style="display: block">
    <a href="/FinancialTransactions/InsertTransaction/">Create a New Transaction</a>
</div>

<table class="table">
    <tr>
        <th>ID</th>
        <th>TransactionDate</th>
        <th>TransactionType</th>
        <th>Category</th>
        <th>Amount</th>
        <th>Description</th>
    </tr>

    @foreach (var transaction in @Model)
    {
        <tr>
            <td><a href=/FinancialTransactions/ViewTransaction/@transaction.TransactionID>@transaction.TransactionID</a></td>
            <td>@transaction.TransactionDate.ToString("MM-dd-yyyy")</td>
            @if (transaction.TransactionType == "Income")
            {

                <td><span style="color:green;">@transaction.TransactionType</span></td>
            }
            else
            {
                <td><span style="color:red;">@transaction.TransactionType</span></td>
            }
            <td>@transaction.Category</td>
            <td>@transaction.Amount</td>
            <td>@transaction.Description</td>
        </tr>
    }

</table>
