@model FinancialTransactions

<h2>Update @Model.TransactionID</h2>

@using (Html.BeginForm("UpdateTransactionToDatabase", "FinancialTransactions", "Post"))
{
    <input asp-for="TransactionID" type="hidden" value="@Model.TransactionID" />


    <label asp-for="Description" class="control-label">Description</label>
    <input type="text" name="Description" class="form-control" value="@Model.Description" />

    <label asp-for="Category" class="control-label">Category</label>
    <input type="text" name="Category" class="form-control" value="@Model.Category" />

    <label asp-for="Amount" class="control-label">Amount</label>
    <input type="number" step="0.01" name="Amount" class="form-control" value="@Model.Amount" />

    <input type="submit" value="Update Transaction" class="btn btn-primary" />
}