@model FinancialTransactions

<h3>@Model.TransactionID Information</h3>

<table class="table">
    <tr>
        <th>Transaction ID</th>
        <th>Transaction Date</th>
        <th>Transaction Type</th>
        <th>Category</th>
        <th>Amount</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>@Model.TransactionID</td>
        <td>@Model.TransactionDate.ToString("MM-dd-yyyy")</td>
        <td>@Model.TransactionType</td>
        <td>@Model.Category</td>
        <td>@Model.Amount</td>
        <td>@Model.Description</td>
    </tr>
</table>

<a href="/FinancialTransactions/UpdateTransaction/@Model.TransactionID">Update this Transaction</a>


<div style="display: block">

    @using (Html.BeginForm("DeleteTransaction", "FinancialTransactions", "Post"))
    {
        <input type="hidden" asp-for="TransactionID" value="@Model.TransactionID" />
        <input type="submit" onclick="return confirm('Are you sure?')" value="Delete this transaction" />
    }
</div>
